/*Programmer: Trevone Graves */
/* Navbar */
#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
  }
  
  #navbar a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
  }
  
  #navbar a:hover {
    text-decoration: underline;
  }

  hr {
    border: none;
    height: 2px;
    background-color: #000; /* Black color */
    margin: 20px 0; /* Spacing above and below */
  }
  
  /* Responsive media query */
  @media (max-width: 768px) {
    h1 {
      font-size: 1.5rem;
    }
  }
  
  /* Welcome section */
  #welcome-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: purple;
    color: white;
    text-align: center;
  }
  
  .welcome-image {
    border-radius: 50%;
    margin-top: 20px;
    width: 200px;
    height: 180px;
  }
  
  /* Projects section */
  #projects {
    padding: 50px 20px;
    text-align: center;
    background-color: #7b7272;
  }
  
  .project-tile {
    display: inline-block;
    width: 300px;
    margin: 15px;
    padding: 15px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .project-tile a {
    text-decoration: none;
    color: #333;
  }
  
  .project-tile:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.9);
    color: lightskyblue;
  }

  .project-img1 {
    width: 280px;
    height: 170px;
  }
  
  /*Repository Section*/

  .repository-title {
    display: inline-block;
    width: 300px;
    margin: 15px;
    padding: 15px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .repository-title a {
    text-decoration: none;
    color: #333;
  }

  .repository-title:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.9);
    color: lightskyblue;
  }

  #repositories {
    padding: 50px 20px;
    text-align: center;
    background-color: #7b7272;
  }

  /* Contact Section */

  /* Contact Section */
#contacts {
  padding: 50px 20px;
  text-align: center;
  background-color: #7b7272;
}

#contact-me {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.contact {
  background-color: #007BFF;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s;
}

.contact a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: bold;
}

.contact:hover {
  background-color: #0056b3;
}

/* Icon Styling */
.contact i {
  font-size: 1.2em;
  color: white;
}

.contact:hover i {
  color: #e0e0e0; /* Subtle color change on hover */
}
